* {
  scrollbar-width: none;
}

/* general */
.flex {
  display: flex;
}

.grey {
  color: grey;
}

.w-100 {
  width: 100%;
}

.px-4 {
  padding: 0 40px;
}

.mb-2 {
  margin-bottom: 20px;
}

/* sidebar */
.menu__heading {
  padding: 25px 15px;
  font-size: 20px;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
  user-select: none;
}

/* card */
.card__container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 250px;
  max-width: 300px;
  min-height: 150px;
  max-height: 200px;
}

.card__item div {
  text-align: center;
}

/* graph */
.line__graph__container,
.activities__container {
  display: flex;
  flex-direction: column;
  font-size: 1.25rem;
  height: 100%;
  width: 50%;
}

/* activites */
.activities__container > div {
  width: 100%;
  max-height: 250px;
  overflow-y: auto;
}

.activity__item {
  width: 100%;
  padding: 0 30px;
  margin-bottom: 10px;
  border-radius: 20px;
  cursor: pointer;
  background-color: #333;
  color: #fff;
}

.activity__heading {
  color: #aaa;
  margin: 0;
}

.activity__heading:hover {
  color: #ccc;
}
